body {
  margin: 0;
  padding: 0; 

  /* GRID */
}
div.page {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 0.5fr 7fr;
  grid-template-areas: 'header'
                      'navbar'
                      'content'
                      ;

  /* align-items: center;
  justify-items: center; */
}

.header {
  grid-area: header;
  text-align: center;
}

#navbar {
  grid-area: navbar;
  /* overflow: hidden; */
  /* background-color: palegoldenrod; */
  text-align: center;
  /* z-index: 1; */
}

#content {
  margin-top: 10px;
  grid-area: content;
  text-align: center;
  overflow: scroll;
    display: flex;
  flex-direction: column;
	/* height : 540px;
	width : 330px; */
 

}
    #footer{
      font-size: 10px;
    text-align: left;
    }

/* Kalender */

select{
  margin: 10px;
  width: 150px;
  
}
.weekday{
  overflow: hidden;
  border: 1px solid rgb(159, 185, 159);
  color: darkslategray;
  font-size: 8px;
  text-align: center;
  border-collapse: collapse;
  height: 50px;
  width: auto;
}

.addButton {
  border-radius: 50%;
  background-color: lightskyblue;
  width: 20px;
  height: 20px;
}
.weekCalendar{
  width: 100px;
  margin-bottom: 10px;
  background-color: rgb(173, 191, 186); 
  color: darkslategrey;
}
.calendarButton{
  font-size: 8px;
  width: auto;

}
.ccRed{
  color:red;
  font-size: 10px;
  
}

.ccBlue{
  color: blue;
  font-size: 10px;
}
.ccGreen{
  color:green;
  font-size: 10px;
}

/* LOGIN */

input {
  margin-top: 10px;
  width: 150px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: center;
}
  
 /* HOMEPAGE */
 
 .navbarButton {
   background-color: rgba(241, 232, 232, 0.6);
   color: rgb(75,75,75);
   /* background-color: rgb(173, 191, 186);  
   color: darkslategrey; */
   /* text-shadow: grey 1px 1px; */
   box-shadow:  grey 3px 3px 3px ;
   height: 26px;
   font-size: 12px;
 }

  .infoButton {
    background-color: rgb(173, 191, 186); 
    color: darkslategrey;
    text-shadow: grey 1px 1px;
    box-shadow:  grey 3px 3px 3px ;
    height: 50px;
    width: 100px;
    margin-bottom: 5px;
    
    
  }